.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  text-align: right;
  cursor: pointer;
  transition: 0.2s;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width:320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
