.cover__subtitle {
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  margin: 32px 0 0;
  padding: 0;
  max-width: 320px;
  min-height: 66px;
  text-align: center;
}
