.place__link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  margin-top: 4px;
  text-decoration-line: underline;
  cursor: pointer;
  transition: 0.2s;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width:1024px) {
  .place__link {
    margin-top: 12px;
  }
}
